<div class="container my-5">
  <div class="row">
    <div class="col-12">
      <h2 class="my-4">注文情報</h2>
      <p>ご購入頂きありがとうございます。</p>
      <p>合計金額</p>
      <p>¥{{ total_price }}</p>
 
      <h2 class="my-4">注文アイテム一覧</h2>
      <table class="table mb-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">商品名</th>
            <th scope="col">価格</th>
            <th scope="col">数量</th>
            <th scope="col">小計</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items_data %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.name }}</td>
            <td>¥{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.sub_total_price }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>